.selected-filters{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 20px 0 0;
    border-radius: 12px;
}
.filter-tag{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background-color: #0812FF;
    padding: 6px 15px;
    color: white;
    margin-right: 12px;
    margin-bottom: 12px;
    font-size: 0.9em;
    font-weight: 400;
}
.remove-filter-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    color: #0812FF;
    margin-left: 8px;
}