.header{
    display: flex;
    color: #2D2D2D;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
    padding-left: 15px;
    min-width: 388px;
    .sub-header{
        font-size: 0.9em;
    }
}
.header img{
    margin-right: 5px;
}
.feedback-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3em;
    background-color: #FFF;
    border-radius: 12px;
    /*padding: 15px 10px 15px 10px;*/
    padding: 1em 0.5em 1em 0.5em;
    min-width: 360px;
}
.feedback-message{
    color: #2D2D2D;
    font-size: 0.8em;
    font-weight: 500;
    height: fit-content;
}
.filter-button{
    border: none;
    border-radius: 8px;
    background: #83A6FF;
    width: 2em;
    height: 2em;
    padding: 6px;
    margin: 5px;
}
.heart-emoji{
    font-size: 1.3em;
}
.page-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 50px;
}
.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-content: flex-start;
    justify-content: flex-start;
}
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    min-width: 375px;
}

/*.card-container::after {*/
/*    content: "";*/
/*    flex: auto;*/
/*    min-width: calc(33.333% - 10px);
/*}*/

.my-scrollable-div {
    direction: ltr;
}
.my-scrollable-div {
    writing-mode: horizontal-tb;
}
.my-scrollable-div::-webkit-scrollbar {
    width: 10px;

}

.my-scrollable-div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.my-scrollable-div::-webkit-scrollbar-thumb {
    background: #888;
}

.my-scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #555;
}
