/* slider.css */

.simple-slider {
    margin: 20px;
    padding:  20px 20px 20px 20px;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.simple-slider .slick-prev,
.simple-slider .slick-next {
    z-index: 1;
    font-size: 0;
line-height: 0;
position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.simple-slider .slick-prev {
    left: -35px !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.simple-slider .slick-next {
    right: -35px !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.simple-slider .custom-arrow {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.simple-slider .slick-prev:before,
.simple-slider .slick-next:before {
    content: none !important;
}

.slick-track {
    display: flex;
    align-items: center;
}

.slick-slide {
    display: flex;
    justify-content: center;
}

.slick-slide > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* CSS classes corresponding to keywordColorMap colors */
.frontend {
    background-color: rgba(143, 45, 86, 0.2);
}

.backend {
    background-color: rgba(0, 107, 166, 0.2);
}

.dba {
    background-color: rgba(4, 150, 255, 0.2);
}

.data_analytics {
    background-color: rgba(255, 188, 66, 0.2);
}

.devops {
    background-color: rgba(216, 17, 89, 0.2);
}

.ml_dl {
    background-color: rgba(60, 9, 108, 0.2);
}

.mobile {
    background-color: rgba(211, 118, 118, 0.2);
}

.uiux {
    background-color: rgba(56, 176, 0, 0.2);
}

.qa {
    background-color: rgba(145, 149, 246, 0.2);
}

.defaultColor {
    background-color: rgba(145, 149, 246, 0.2);
}

.slider-element {
    box-sizing: border-box;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    /*background-color: rgba(204, 212, 255, 0.35);*/
    height: 32px;
    max-width: fit-content;
    border-radius: 8px;
    padding: 0 1em;
    margin: 0;
    line-height: 33px;
    vertical-align: middle;
    font-family: 'Arial', sans-serif;
    color: rgb(77,72,80);
    font-weight: bold;
}

.simple-slider .slick-dots li button:before {
    color: rgba(7, 76, 255, 0.35);
    opacity: 1;
}

.simple-slider .slick-dots li.slick-active button:before {

    color: rgb(7, 76, 255, 0.95);
}

.simple-slider .slick-dots li button:before {
    font-size: 8px;

}
.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -36px !important;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.simple-slider .slick-dots li button {
    padding: 0;
}

.simple-slider .slick-dots li button:before {
    font-size: 8px;
    color: rgba(7, 76, 255, 0.35);
    opacity: 1;
}

.simple-slider .slick-dots li.slick-active button:before {
    color: #0FA4F8
}

.simple-slider .slick-dots li {
    margin: 0 5px !important;
}