.footer{
    display: flex;
    height: 200px;
    background: #FFF;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
    /*margin-left: -20px;*/
    /*margin-right: -20px;*/
}
.copyright{

}