.search-window-overlay {
    position: fixed;
    top:4em; /* Adjust this value to the height of your navbar */
    left: 0;
    width: 100%;
    height: calc(100% - 50px); /* Adjust this value to the height of your navbar */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure this is above all page content */
}

.search-window {
    position: absolute;
    top: 0; /* This positions the top of the search window right below the navbar */
    left: 41%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    /*width: 90%; !* Or any width you prefer *!*/
    max-width: 600px; /* Or any max-width you prefer */
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    z-index: 1001; /* Above the overlay */
    /* Add other styles as needed */
}


.text {
    font-size: 10px; /* Replace with the actual font size from your design */
    color: #333; /* Replace with the actual text color from your design */
    margin-bottom: 10px;
}

.categories {
    display: flex;
    gap: 10px; /* Spacing between category buttons */
    margin-bottom: 20px;
}

.category-button {
    background-color: #eff0f1; /* Light grey background, replace with your design */
    border: none;
    padding: 10px 20px;
    border-radius: 20px; /* Rounded edges for the category buttons */
    cursor: pointer;
    font-size: 14px; /* Replace with the actual font size from your design */
    color: #333; /* Replace with the actual text color from your design */
}

.category-button:hover {
    background-color: #ddd; /* Slightly darker on hover */
}

.last-search-and-results {
    border-top: 1px solid #eaeaea; /* Light grey border, replace with your design */
    padding-top: 10px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; /* Space between items */
}

.item:last-child {
    margin-bottom: 0;
}

.remove-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #6D6D6D; /* Replace with your primary color */
}

.remove-button:hover {
    text-decoration: underline;
}
