.filters-container{
    background-color: #FFF;
    min-width: 335px;
    max-width: 600px;
    height: 95%;
    border-radius: 12px;
    text-align: center;
    overflow: auto;
    padding-bottom: 5px;
}
.filters-title{
    color: #2D2D2D;
    border-bottom: 1px solid #ECEDEC;
    padding: 12px 142px 12px 142px;
    margin-bottom: 13px;
}
.reset-btn{
    background-color: #0FA4F8;
    width: fit-content;
    color: white;
    padding: 5px 18px 5px 18px;
    border-radius: 12px;
    margin-bottom: 15px;
    font-size: 15px;
}
.filters-body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 15px 0 15px;
    height: 600px;
    overflow: auto;
}
.main-filter{
    margin-bottom: 15px;
}
.filter-drowpdowns-container{
    height: 600px;
    overflow: auto;
}