hr {
    border-top: 1px solid #ECEDEC;
    margin: 0 -2em;
}

.card {
    min-width: 350px;
    max-width: 350px;
    min-height: 20em;
    border-radius: 1em;
    border: 1px solid #F1F1F1;
    background: #FFF;
    padding: 2em;
    margin: 1.25em 1.25em 1.25em 0 ;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.head,
.card-body,
.card-result {
    flex: 1;
}

.head {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    align-content: flex-start;
    justify-content: flex-start;
    margin: -10px 0 10px 0;
}

.card-logo {
    width: 4.375em;
    height: 4.375em;
    border-radius: 0.5em;
}

.card-description {
    padding: 0 0.5em 8px 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.company-name {
    color: #2D2D2D;
    font-family: Poppins, sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.25em;
    text-align: left;
}

.company-slogan {
    color: #6D6D6D;
    font-size: 1em;
    text-align: center;
    width: 100%;
    margin-top: 0.25em;
}

.card-body {
    margin: -15px 0 0 0 ;
    max-height: 10em;
}
.card-result {
    display: flex;
    justify-content: space-evenly ;
    /*justify-content: center ;*/
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: center;

    /*display: flex;*/
    /*align-items: end;*/
    /*flex-direction: row;*/
    overflow-y: auto;
    /*width: 88%;*/
    height: 100%;
}
.card-result::-webkit-scrollbar {
    display: none;
}
.img-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #ECEDEC;
    background: #FFF;
    align-self: center;
}

.result-item{

}